<%- include('components/head.ejs') %>
</head>
<body>
    <%- include('components/navigation.ejs') %>

    <div class="grid grid-cols-1 gap-2.5 p-6">
        <h1 class="text-6xl">404 - OOOOPS!</h1>
        <p>Page not founded!</p>
    </div>

<%- include('components/footer.ejs') %>