<%- include('components/top.ejs') %>
</head>
<body>
    
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="form-control">
          <label for="price">Price, $</label>
          <input type="number" name="price" id="price" />
        </div>

        <button class="btn" type="submit">Add Product</button>
      </form>
<%- include('components/bottom.ejs') %>