<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <form action="/user/add-product" method="post">
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="price" placeholder="Price" />
      <button type="submit">Add product</button>
    </form>
  </body>
</html>
