<%- include('components/top.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <h1>Hello user!</h1>
    <% if(products.length > 0) {%>
        <div class="grid">
            <% products.forEach((item) => {%>
                <div>
                    <%= item.title %>
                </div>
            <% })%>
        </div>
    <% } else {%>
        <h3>No items founded</h3>
    <% }%>


    
<%- include('components/bottom.ejs') %>